modules = ["web", "nodejs-20", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cacert", "cargo", "freetype", "lcms2", "libffi", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pgadmin4", "pkg-config", "postgresql", "rustc", "tcl", "tk", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Django Server"

[[workflows.workflow]]
name = "Django Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd groceryshop && DATABASE_URL=\"\" python3.11 manage.py runserver 0.0.0.0:5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 46623
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind=0.0.0.0:5000", "--reuse-port", "--chdir=groceryshop", "groceryshop.wsgi:application"]
